body {
background-color: lightblue;
border-width: 5px;
font-family: sans-serif;
position: relative;
width: 800px;

}
h1, h2 {
border-style: outset;
border-width: 7px;
color: blue;
text-align: center;
letter-spacing: 3px;
font-size: 30px;
}
h3,h4{
color: darkblue;
text-align: left;
letter-spacing: 1px;
font-size: 20px;
}
